In [8]:
import pandas as pd
import numpy  as np

In [124]:
def census_diff(df):

    df.date = pd.to_datetime(df.date)
    grp = df.groupby(["plot",  "census"])
    cen = grp.date.agg(['min', 'max'])
    cen["mid"] = (cen["min"] + (cen["max"] - cen["min"])/2).dt.date
    cen["difference"] = cen["mid"].diff().astype('timedelta64[D]')
    cen.loc[cen["difference"] < 0 , "difference"] = np.NAN
    cen["diff_yrs"] = cen.difference/365

    cen.reset_index(level=0, inplace=True)
    cen.reset_index(level=0, inplace=True)

    cen.census.astype(str)
    cen["step"] = cen.census.shift() + "-" + cen.census
    cen.loc[cen["difference"].isnull(), "step"] = np.NaN

    return cen

In [125]:
beetle_df = pd.read_csv("../Results/beetles_sorted.csv")

In [126]:
beetles_cen = census_diff(beetle_df)

In [129]:
cen = beetles_cen

In [135]:
cen.index = cen['plot'] + "_" + cen['step']

In [136]:
cen

,census,plot,min,max,mid,difference,diff_yrs,step
NaN,P1,A,2011-02-22,2011-02-22,2011-02-22,NaN,NaN,NaN
A_P1-P2,P2,A,2011-11-02,2011-11-20,2011-11-11,262.0,0.717808,P1-P2
A_P2-P3,P3,A,2012-06-08,2012-06-28,2012-06-18,220.0,0.602740,P2-P3
NaN,P2,B,2011-11-02,2011-11-29,2011-11-15,NaN,NaN,NaN
B_P2-P3,P3,B,2012-07-19,2012-07-19,2012-07-19,247.0,0.676712,P2-P3
NaN,P1,C,2011-03-07,2011-03-07,2011-03-07,NaN,NaN,NaN
C_P1-P2,P2,C,2011-11-02,2011-11-29,2011-11-15,253.0,0.693151,P1-P2
C_P2-P3,P3,C,2012-06-29,2012-07-13,2012-07-06,234.0,0.641096,P2-P3
NaN,P1,D,2011-02-21,2011-03-06,2011-02-27,NaN,NaN,NaN
D_P1-P2,P2,D,2011-11-19,2011-11-29,2011-11-24,270.0,0.739726,P1-P2
D_P2-P3,P3,D,2012-06-27,2012-07-12,2012-07-04,223.0,0.610959,P2-P3
NaN,P1,E,2011-02-22,2011-03-06,2011-02-28,NaN,NaN,NaN
E_P1-P2,P2,E,2011-10-31,2011-11-14,2011-11-07,252.0,0.690411,P1-P2
E_P2-P3,P3,E,2012-06-12,2012-06-16,2012-06-14,220.0,0.602740,P2-P3
NaN,P1,F,2011-03-06,2011-03-06,2011-03-06,NaN,NaN,NaN
F_P1-P2,P2,F,2011-11-01,2011-11-21,2011-11-11,250.0,0.684932,P1-P2
F_P2-P3,P3,F,2012-06-16,2012-07-12,2012-06-29,231.0,0.632877,P2-P3
NaN,P1,LF,2011-02-22,2011-03-08,2011-03-01,NaN,NaN,NaN
LF_P1-P2,P2,LF,2011-11-07,2011-12-06,2011-11-21,265.0,0.726027,P1-P2
LF_P2-P3,P3,LF,2012-06-28,2012-07-30,2012-07-14,236.0,0.646575,P2-P3
NaN,P1,LF1,2011-02-22,2011-02-23,2011-02-22,NaN,NaN,NaN
LF1_P1-P2,P2,LF1,2011-11-01,2011-11-08,2011-11-04,255.0,0.698630,P1-P2
LF1_P2-P3,P3,LF1,2012-07-29,2012-07-29,2012-07-29,268.0,0.734247,P2-P3
NaN,P1,LF2,2011-03-06,2011-03-06,2011-03-06,NaN,NaN,NaN
LF2_P1-P2,P2,LF2,2011-12-05,2011-12-05,2011-12-05,274.0,0.750685,P1-P2
LF2_P2-P3,P3,LF2,2012-06-28,2012-06-29,2012-06-28,206.0,0.564384,P2-P3
NaN,P1,LF3,2011-03-06,2011-03-06,2011-03-06,NaN,NaN,NaN
LF3_P1-P2,P2,LF3,2011-12-06,2011-12-06,2011-12-06,275.0,0.753425,P1-P2
LF3_P2-P3,P3,LF3,2012-07-28,2012-07-28,2012-07-28,235.0,0.643836,P2-P3
NaN,P1,LFE,2011-02-21,2011-02-21,2011-02-21,NaN,NaN,NaN
LFE_P1-P2,P2,LFE,2011-11-21,2011-11-21,2011-11-21,273.0,0.747945,P1-P2
LFE_P2-P3,P3,LFE,2012-04-07,2012-06-29,2012-05-18,179.0,0.490411,P2-P3
NaN,P1,OG,2011-02-21,2011-03-06,2011-02-27,NaN,NaN,NaN
OG_P1-P2,P2,OG,2011-11-01,2011-12-06,2011-11-18,264.0,0.723288,P1-P2
OG_P2-P3,P3,OG,2012-06-16,2012-07-31,2012-07-08,233.0,0.638356,P2-P3
NaN,P1,OG1,2011-03-05,2011-03-06,2011-03-05,NaN,NaN,NaN
OG1_P1-P2,P2,OG1,2011-11-08,2011-11-08,2011-11-08,248.0,0.679452,P1-P2
OG1_P2-P3,P3,OG1,2012-06-27,2012-06-28,2012-06-27,232.0,0.635616,P2-P3
NaN,P1,OG2,2011-02-21,2011-02-21,2011-02-21,NaN,NaN,NaN
OG2_P1-P2,P2,OG2,2011-12-05,2011-12-06,2011-12-05,287.0,0.786301,P1-P2
OG2_P2-P3,P3,OG2,2012-06-16,2012-06-17,2012-06-16,194.0,0.531507,P2-P3
NaN,P1,OG3,2011-02-22,2011-02-22,2011-02-22,NaN,NaN,NaN
OG3_P1-P2,P2,OG3,2011-11-01,2011-11-09,2011-11-05,256.0,0.701370,P1-P2
OG3_P2-P3,P3,OG3,2012-07-30,2012-07-31,2012-07-30,268.0,0.734247,P2-P3
NaN,P1,OP,2011-02-23,2011-02-23,2011-02-23,NaN,NaN,NaN
OP_P1-P2,P2,OP,2011-11-20,2011-11-28,2011-11-24,274.0,0.750685,P1-P2
OP_P2-P3,P3,OP,2012-06-17,2012-08-17,2012-07-17,236.0,0.646575,P2-P3
NaN,P2,OP1,2011-11-28,2011-11-28,2011-11-28,NaN,NaN,NaN
OP1_P2-P3,P3,OP1,2012-07-26,2012-07-26,2012-07-26,241.0,0.660274,P2-P3
NaN,P2,OP2,2011-11-27,2011-11-27,2011-11-27,NaN,NaN,NaN
OP2_P2-P3,P3,OP2,2012-06-17,2012-07-26,2012-07-06,222.0,0.608219,P2-P3
NaN,P1,OP3,2011-02-23,2011-02-23,2011-02-23,NaN,NaN,NaN
OP3_P1-P2,P2,OP3,2011-11-20,2011-11-20,2011-11-20,270.0,0.739726,P1-P2
OP3_P2-P3,P3,OP3,2012-06-28,2012-06-28,2012-06-28,221.0,0.605479,P2-P3
NaN,P1,VJR,2011-03-07,2011-03-07,2011-03-07,NaN,NaN,NaN
VJR_P1-P2,P2,VJR,2011-12-05,2011-12-05,2011-12-05,273.0,0.747945,P1-P2
VJR_P2-P3,P3,VJR,2012-07-13,2012-07-13,2012-07-13,221.0,0.605479,P2-P3