# Sort Data

## Imports

In [1]:
import pandas as pd
import numpy as np
import json

from geopy.distance import geodesic

## Functions

In [2]:
def census_diff(df, census):

    grp = df.groupby(["plot",  census])
    cen = grp.date.agg(['min', 'max'])
    cen["mid"] = (cen["min"] + (cen["max"] - cen["min"])/2).dt.date
    cen["difference"] = cen["mid"].diff().astype('timedelta64[D]')
    cen.loc[cen["difference"] < 0 , "difference"] = np.NAN
    cen["diff_yrs"] = cen.difference/365

    cen.reset_index(level=0, inplace=True)
    cen.reset_index(level=0, inplace=True)

    cen[census].astype(str)
    cen["step"] = cen[census].astype(str).shift() + "-" + cen[census].astype(str)
    cen.loc[cen["difference"].isnull(), "step"] = np.NaN
    cen.index = cen['plot'] + "_" + cen['step']

    return cen

## Open general data

In [3]:
# open plot locations
with open('../Data/rows.geojson') as f:
    data = json.load(f)

properties = pd.DataFrame()

# add each line of geojson file to dataframe
for i in range(0, len(data['features'])):
    properties = properties.append(pd.DataFrame(data['features'][i]['properties'], index = [i]))

# only really care about these columns
properties = properties.loc[: , ["plot_size",
                                 "centroid_y",
                                 "centroid_x",
                                 "fractal_order",
                                 "location"]]

properties.rename(columns={'centroid_y':'longitude', 'centroid_x':'latitude'}, inplace=True)
properties["longlat"] = properties.apply(lambda x: [x.longitude, x.latitude], axis=1)

# seperate dataframe for only second order fractal points
second_order = properties.loc[properties.fractal_order == 2, : ]

# function to find point closest to given point
def closest(pt, others):
    
    clst_pt = min(others.longlat, key = lambda x: geodesic(pt, x).meters)
        
    return others.location.loc[others.longlat.apply(lambda x: x == clst_pt)].reset_index(drop = True)


# fractal nesting and agb data
fpn = pd.read_csv("../Data/Fractal_point_nesting.csv")
agb = pd.read_csv("../Data/AGB.csv")

fpn["FirstOrder"] = fpn.FirstOrder.str.partition("_")[2].astype(int)
fractals = fpn.loc[:, ["FirstOrder", "SecondOrder"]]

# specific wanted columns - and rename ***(going with Chave moist)***
agb = agb[["field_name", "Plot", "Date", "AGB_Chave_moist", "ForestQuality"]]
agb.columns = ["field_name", "plot", "date", "agb", "forestquality"]

## Mammals Data

#### Open and sort the data

In [4]:
# open each seperate plot
E  = pd.read_csv("../Data/small_mammals/test/E_test.csv")
F  = pd.read_csv("../Data/small_mammals/test/F_test.csv")
D  = pd.read_csv("../Data/small_mammals/test/D_test.csv")
#OG = pd.read_csv("../Data/small_mammals/test/OG_test.csv")

#### function to sort out each plot in turn

In [5]:
def sort_mams(df):

    # new column names
    ncolnames   = ["occasion", "date", "grid", "point", "trap", "trap_id", "species"]
    df.columns  = ncolnames

    # stupid formatting sorted
    df["occasion"]  = df.occasion.str.replace("--", "-")
    df["grid"]      = df.grid.str.replace("--", "-")
    df["trap_id"]   = df.trap_id.str.replace("--", "-")
    df["trap_id"]   = df.trap_id.apply(lambda x: x[:-1])
    df["date"]      = pd.to_datetime(df.date)
    df["year"]      = df.date.dt.year
    df["census"]    = df.occasion.str.partition("-")[2].str.partition("-")[2]
    df["plot"]      = df.occasion.str[0]
    
    return df

E  = sort_mams(E)
F  = sort_mams(F)
D  = sort_mams(D)
#OG = sort_mams(OG)

frames = [E, F, D]

mamls_df = pd.concat(frames, sort = False)

mamls_df["species"] = mamls_df.species.fillna("None")

#### match with species names from lookup

In [6]:
# mammals species lookup table 
m_lkup = pd.read_csv("../Data/small_mammals/mammals_lookup.csv")
m_lkup.columns = ["code", "species", "scientific"]

mamls_df["species"] = mamls_df.species.str.strip()


# my fairly questionable decisions...

# if its a questionmark - I just go with it
# if its an either or I go with the first one!
mamls_df.loc[mamls_df.loc[:, "species"] == "CTRS-but see notes", "species"] = "CTRS"

mamls_df.loc[mamls_df.loc[:, "species"] == "SS?",          "species"] = "SS"
mamls_df.loc[mamls_df.loc[:, "species"] == "WH?",          "species"] = "WH"
mamls_df.loc[mamls_df.loc[:, "species"] == "PR?",          "species"] = "PR"
mamls_df.loc[mamls_df.loc[:, "species"] == "RR?",          "species"] = "RR"
mamls_df.loc[mamls_df.loc[:, "species"] == "MR?",          "species"] = "MR"
mamls_df.loc[mamls_df.loc[:, "species"] == "MR??",         "species"] = "MR"
mamls_df.loc[mamls_df.loc[:, "species"] == "RS?",          "species"] = "RS"
mamls_df.loc[mamls_df.loc[:, "species"] == "LGTRS?",       "species"] = "LGTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "BS?",          "species"] = "BS"
mamls_df.loc[mamls_df.loc[:, "species"] == "PSQ",          "species"] = "LSQ"      # not confident on this
mamls_df.loc[mamls_df.loc[:, "species"] == "BSQ",          "species"] = "BSQ?"
mamls_df.loc[mamls_df.loc[:, "species"] == "SSQ",          "species"] = "SSQ?"
mamls_df.loc[mamls_df.loc[:, "species"] == "RS or SS" ,    "species"] = "RS"
mamls_df.loc[mamls_df.loc[:, "species"] == "WH or SS",     "species"] = "WH"
mamls_df.loc[mamls_df.loc[:, "species"] == "BS/RS?",       "species"] = "BS"
mamls_df.loc[mamls_df.loc[:, "species"] == "PTSQ?",        "species"] = "PTSQ"
mamls_df.loc[mamls_df.loc[:, "species"] == "LETRS",        "species"] = "LETRS?"   # for some reason the lookup table has a ?
mamls_df.loc[mamls_df.loc[:, "species"] == "CBS?",         "species"] = "CBS"
mamls_df.loc[mamls_df.loc[:, "species"] == "SL?TRS",       "species"] = "SLTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "SLTRS?",       "species"] = "SLTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "L?TRS",        "species"] = "SLTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "LSQ?",         "species"] = "LSQ"
mamls_df.loc[mamls_df.loc[:, "species"] == "CTRS?",        "species"] = "CTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "LTRS or CTRS", "species"] = "CTRS"     # went with CTRS as LTRS could refer to a couple
mamls_df.loc[mamls_df.loc[:, "species"] == "LTRS",         "species"] = "LETRS?"   # not convinced about this one
mamls_df.loc[mamls_df.loc[:, "species"] == "Squirrel",     "species"] = "squirrel"
mamls_df.loc[mamls_df.loc[:, "species"] == "DTT_DEAD",     "species"] = "DTT"
mamls_df.loc[mamls_df.loc[:, "species"] == "LSQ?_DEAD",    "species"] = "LSQ"
mamls_df.loc[mamls_df.loc[:, "species"] == "squirrel",     "species"] = "unknown"  # ***mmm?***
mamls_df.loc[mamls_df.loc[:, "species"] == "See notes",    "species"] = "unknown"  # i'm effectivley treating 'unknown' as a seperate species which seems spurious at best 
mamls_df.loc[mamls_df.loc[:, "species"] == "??",           "species"] = "unknown"
mamls_df.loc[mamls_df.loc[:, "species"] == "?",            "species"] = "unknown"
mamls_df.loc[mamls_df.loc[:, "species"] == "Unknown",      "species"] = "unknown"

# merge
mamls_df = pd.merge(mamls_df,
                    m_lkup[["code", "scientific"]],
                    how      = "left",
                    left_on  = "species",
                    right_on = "code")

# get rid of the leftovers... (there were a couple of birds/reptiles)
mamls_df = mamls_df.loc[-mamls_df.code.isna(), :]

#### find closest f2 point to each trap and get agb measure

In [7]:
# get all the unique trap names
trap_locs = pd.DataFrame({"trap_id" : mamls_df.trap_id.unique()})

trap_locs = trap_locs.merge(properties[["location", "longlat"]],
                            how      = "left",
                            left_on  = "trap_id",
                            right_on = "location")

# find the closest second order fractal point
trap_locs["second_order"] = trap_locs.longlat.apply(lambda x: closest(x, second_order))

# merge back to master dataframe
mamls_df = mamls_df.merge(trap_locs, how = "left", on = "trap_id")

# just want the point number 
mamls_df.second_order = mamls_df.second_order.str[-3:]
mamls_df.second_order = mamls_df.second_order.astype(int)

# merge to get agb and forest quality
mamls_df = mamls_df.merge(agb[["plot", "agb", "forestquality"]], how = "left",
                          left_on = "second_order", right_on = "plot")

#### final cleanup and save

In [8]:
mamls_df = mamls_df.rename(index=str, columns={"plot_x": "plot"})

mamls_df = mamls_df[["occasion",
                     "date",
                     "grid",
                     "point",
                     "trap",
                     "trap_id",
                     "species",
                     "year",
                     "plot",
                     "census",
                     "scientific",
                     "longlat",
                     "second_order",
                     "agb",
                     "forestquality"]]

mamls_df.to_csv("../Results/mammals_sorted.csv")

#### Make the species/plot matrix

In [9]:
# i'll give four different combinations a go...
mamls_df["trap_year"]   = mamls_df["plot"] + "_" + mamls_df.trap_id + "_" + mamls_df.year.astype(str)
mamls_df["grid_year"]   = mamls_df["plot"] + "_" + mamls_df.grid    + "_" + mamls_df.year.astype(str)
mamls_df["trap_census"] = mamls_df["plot"] + "_" + mamls_df.trap_id + "_" + mamls_df.census
mamls_df["grid_census"] = mamls_df["plot"] + "_" + mamls_df.grid    + "_" + mamls_df.census

# function to make matrix
def make_matrix(df, what):
    mx = df.groupby([what, "species"]).size().unstack()  # groupby whatever i've chosen and species
    mx = mx.fillna(value = 0)                            # fill with 0's
    mx = mx.drop("None", axis = 1)                       # so we keep plot row even if nothing was trapped
    return mx

# do
mamls_TY = make_matrix(mamls_df, "trap_year")
mamls_GY = make_matrix(mamls_df, "grid_year")
mamls_TC = make_matrix(mamls_df, "trap_census")
mamls_GC = make_matrix(mamls_df, "grid_census")

# save
mamls_TY.to_csv("../Results/m_trap-year.csv")
mamls_GY.to_csv("../Results/m_grid-year.csv")
mamls_TC.to_csv("../Results/m_trap-census.csv")
mamls_GC.to_csv("../Results/m_grid_census.csv")

#### agb

In [10]:
# get the agb (either mean or median of all the traps in plot)
mamls_agb = mamls_df.groupby("plot").agb.describe()
mamls_agb = pd.DataFrame(mamls_agb["50%"])
mamls_agb.to_csv("../Results/mamls_agb.csv")

#### standardise time

In [11]:
# and time difference between cesuses - i'm doing year or occasion...
mamls_cn_diff = census_diff(mamls_df, "census")
mamls_yr_diff = census_diff(mamls_df, "year")

mamls_yr_diff = mamls_yr_diff.rename(index=str, columns={"year": "census"})

mamls_cn_diff.to_csv("../Results/mamls_census_dates.csv")
mamls_yr_diff.to_csv("../Results/mamls_years_dates.csv")

## Tree Data

#### readin raw data

In [12]:
# readin RAW data
trees_df = pd.read_csv("../Data/SAFE_CarbonPlots_Tree+LianaCensus.csv")

#### function to sort everything out for each census

In [13]:
def sort_data(df, census_no):  # give new column names, delete NAs and dead...

    # consistant and better column names
    new_Cnames = ['f_type',       # forest type
                  'plot',
                  'subplot',
                  'date',         # date of measurements
                  'observers',
                  'tag_no',
                  'd_pom',        # diameter of tree (cm)
                  'h_pom',        # height diameter is taken (m) 1.3 by default
                  'height',
                  'flag',         # condition of trees (see flag list)
                  'alive',        # 1 = yes, NaN = no
                  'stem_C',       # aboveground biomass of tree (kg)
                  'root_C',       # root biomass of tree
                  'field_cmnts',  # comments from field
                  'data_cmnts',   # comments from data entry
                  'sbplt_X',
                  'sbplt_Y',
                  'CPA',          # projected area of the crown of the stem
                  'X_FMC',        # plot level X coordinate
                  'Y_FMC',        # plot level Y coordinte
                  'Z_FMC',        # plot level elevation
                  'family',
                  'binomial',
                  'wood_density']

    # give each census these column names
    df.columns = new_Cnames

    # get unique ID - combine plot and tag_no
    df = df.assign(ID = df['plot'] + df['tag_no'].map(str))

    # column with census number
    df = df.assign(census = census_no)

    # delete rows with NaNs in important columns
    impt_cols = ['tag_no', 'd_pom', 'h_pom', 'height', 'flag', 'alive',
                 'stem_C', 'root_C']

    df = df.dropna(subset = impt_cols, how = 'all')

    # delete dead trees (alive == 0)
    df = df[df.alive == 1]

    # sort out dates
    df.date = pd.to_datetime(df.date, dayfirst = True)

    return df

#### subset each census - weird column things...

In [14]:
# subset for each census
census_1 = trees_df.iloc[ :, list(range(0, 3))     # same for all
                           + list(range(3, 15))    # specific for census
                           + list(range(53, 62))]  # same for all

census_2 = trees_df.iloc[ :, list(range(0, 3))
                           + list(range(15, 27))
                           + list(range(53, 62))]

census_3 = trees_df.iloc[ :, list(range(0, 3))
                           + list(range(27, 39))
                           + list(range(53, 62))]

census_4 = trees_df.iloc[ :, list(range(0, 3))
                           + list(range(39, 51))
                           + list(range(53, 62))]

#### do function and combine census'

In [15]:
# sort data for each census
census_1 = sort_data(census_1, 1)
census_2 = sort_data(census_2, 2)
census_3 = sort_data(census_3, 3)
census_4 = sort_data(census_4, 4)

# recombine all census data (stack on top of each other)
trees_df = pd.concat([census_1, census_2, census_3, census_4], ignore_index = True)

#### add extra columns and save

In [16]:
# add genus column
trees_df['plot']        = trees_df['plot'].replace(" ", "", regex=True)
trees_df['subplot']     = trees_df['subplot'].apply(lambda x: str(x).zfill(2))
trees_df['genus']       = trees_df.apply(lambda row: row.binomial.split(" ")[0], axis = 1)
trees_df['plt_sub']     = trees_df['plot'] + "_sp" + trees_df['subplot'].astype(str)
trees_df['plt_sub_cen'] = trees_df['plt_sub'] + "_c" + trees_df['census'].astype(str)
trees_df['plot_c']      = trees_df['plot'] + "_c" + trees_df['census'].astype(str)
trees_df['census']      = "c" + trees_df.census.astype(str)

# save to csv
trees_df.to_csv("../Results/trees_sorted.csv", index = False)

#### make matrix

In [17]:
# species matrix
trees_matrix = trees_df.groupby(['plt_sub_cen', 'binomial']).size().unstack()
trees_matrix = trees_matrix.fillna(value = 0)
trees_matrix.to_csv("../Results/trees_matrix.csv")

trees_genus_matrix = trees_df.groupby(['plt_sub_cen', 'genus']).size().unstack()
trees_genus_matrix = trees_genus_matrix.fillna(value = 0)
trees_genus_matrix.to_csv("../Results/trees_genus_matrix.csv")

trees_family_matrix = trees_df.groupby(['plt_sub_cen', 'family']).size().unstack()
trees_family_matrix = trees_family_matrix.fillna(value = 0)
trees_family_matrix.to_csv("../Results/trees_family_matrix.csv")

#### trees agb (different from the others as calculated from data)

In [18]:
# total biomass at each census for each plot
trees_agb = pd.DataFrame(trees_df.groupby(["plot", "census"]).stem_C.sum())

# take the mean of all census' 0.0625 and 0.001 to get it into Mg/0.0625 ha
trees_agb = pd.DataFrame(trees_agb.groupby("plot").mean()*  0.0625 * 0.001)

trees_agb.to_csv("../Results/trees_agb.csv")

#### trees census standardise time

In [19]:
trees_cen = census_diff(trees_df, "census")
trees_cen.to_csv("../Results/trees_census_dates.csv")

## Beetles Data

#### read in raw data

In [20]:
btles_df = pd.read_csv("../Data/family_list.csv", index_col = 0)

# convert dates to datetime
btles_df.date = pd.to_datetime(btles_df.date, dayfirst = True)

#### initial sorting

In [21]:
btles_df = btles_df.merge(fractals, how = "left", left_on = "trap_N", right_on = "FirstOrder")
btles_df["SecondOrder"] = btles_df["SecondOrder"].str.partition("_")[2].astype(int)
btles_df = btles_df.merge(agb[["plot", "agb", "forestquality"]], how = "left",
                          left_on = "SecondOrder", right_on = "plot")
btles_df = btles_df.drop("plot", axis = 1)
btles_df = btles_df.rename(index=str, columns={"block": "plot"})

btles_df["subplot"] = btles_df["plot"] + "-" + btles_df.FirstOrder.astype(str)

#### sorting out census'

In [22]:
# sampling periods
btles_df['census'] = "incomplete"


def sample_period(df, s_date, e_date, period):
    df.loc[(df.date >= s_date) & (df.date < e_date), 'census'] = period

s1 = pd.to_datetime("01/01/2011", dayfirst = True)  # might be good to check!!
e1 = pd.to_datetime("01/04/2011", dayfirst = True)
s2 = pd.to_datetime("01/09/2011", dayfirst = True)
e2 = pd.to_datetime("01/01/2012", dayfirst = True)
s3 = pd.to_datetime("01/04/2012", dayfirst = True)
e3 = pd.to_datetime("01/09/2012", dayfirst = True)

sample_period(btles_df, s1, e1, "P1")
sample_period(btles_df, s2, e2, "P2")
sample_period(btles_df, s3, e3, "P3")

btles_df = btles_df[btles_df.census != "incomplete"]

btles_df['plt_sub_cen'] = btles_df["plot"] + "_" + btles_df.subplot + "_" + btles_df.census

btles_df.to_csv("../Results/btles_sorted.csv", index = False)


btles_mx = btles_df.groupby(['plt_sub_cen', 'family']).size().unstack()
btles_mx = btles_mx.fillna(value = 0)
btles_mx.to_csv("../Results/btles_matrix.csv")

#### time between census'

In [23]:
btles_cen = census_diff(btles_df, "census")
btles_cen.to_csv("../Results/btles_census_dates.csv")

#### agb

In [24]:
btles_agb = pd.DataFrame(btles_df.groupby("plot").agb.median())

btles_agb.to_csv("../Results/btles_agb.csv")

## Mozzies!

In [25]:
mozie1 = pd.read_csv("../Data/DailyHLC2012-2013.csv")
mozie2 = pd.read_csv("../Data/DailyHLC2013-2014.csv")

In [26]:
mozie1["census"] = "c1"
mozie2["census"] = "c2"

In [27]:
frames = [mozie1, mozie2]
mozie  = pd.concat(frames, sort = False)

In [28]:
mozie

,field_name,Date,Location,Disturbance,Collector,Moonlight,Forest_cover,An_ait_count,An_bar_count,An_van_count,...,Rain,Temperature,Humidity,Ae_orb_count,Arm_co_count,Arm_sp_count,Col_pse_count,Ph_pro_count,Stg_sp_count,Ve_sp_count
0,1,31/10/2012,E_651,Twice,H,99.3,87.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,01/11/2012,E_651,Twice,H,96.8,87.60,1,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,02/11/2012,E_651,Twice,H,92.5,87.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,05/11/2012,OG2_727,Primary,H,70.8,88.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,06/11/2012,OG2_727,Primary,H,61.3,88.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,07/11/2012,OG2_727,Primary,M,51.2,88.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,12/11/2012,E_659,Twice,H,5.0,55.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,13/11/2012,E_659,Twice,H,1.0,55.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,14/11/2012,E_659,Twice,H,0.1,55.60,1,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,17/11/2012,E_659,Twice,M,16.3,55.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,19/11/2012,OP1_741,Oil Palm,Z,37.0,38.20,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,20/11/2012,OP1_741,Oil Palm,Z,48.1,38.20,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,21/11/2012,OP1_741,Oil Palm,Z,58.9,38.20,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,22/11/2012,OP3_762,Oil Palm,Z,69.0,63.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,23/11/2012,OP3_762,Oil Palm,Z,78.0,63.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,24/11/2012,OP3_762,Oil Palm,Z,85.8,63.60,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,26/11/2012,E_655,Twice,Z,96.5,69.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,27/11/2012,E_655,Twice,Z,99.2,69.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,28/11/2012,E_655,Twice,Z,100.0,69.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,29/11/2012,D_643,Twice,M,100.0,41.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,01/12/2012,D_643,Twice,Z,96.0,41.30,0,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,02/12/2012,D_643,Twice,Z,91.3,41.30,1,0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,06/12/2012,OP2_748,Oil Palm,Z,57.9,36.00,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,07/12/2012,OP2_748,Oil Palm,Z,47.1,36.00,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,08/12/2012,OP2_748,Oil Palm,Z,36.1,36.00,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,10/12/2012,E_647,Twice,M,15.7,62.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,11/12/2012,E_647,Twice,M,7.8,62.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,12/12/2012,E_647,Twice,M,2.4,62.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,13/12/2012,D_639,Twice,H,0.1,64.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,14/12/2012,D_639,Twice,H,1.2,64.30,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,51,18/06/2014,Da_Tree_2,Primary,H,71.4,93.41,0,0,NaN,...,None,24.30,98.36,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,52,18/06/2014,Da_Tree_2,Primary,M,71.4,93.41,0,0,NaN,...,None,24.77,93.38,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,53,19/06/2014,Da_Tree_2,Primary,M,60.0,93.41,0,0,NaN,...,Medium,26.00,98.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,54,19/06/2014,Da_Tree_2,Primary,H,60.0,93.41,0,0,NaN,...,Medium,26.34,97.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,55,21/06/2014,Da_Tree_2,Primary,H,37.1,93.41,0,0,NaN,...,None,26.40,98.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,56,21/06/2014,Da_Tree_2,Primary,Z,37.1,93.41,0,0,NaN,...,None,26.74,91.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,57,24/06/2014,Da_Tree_3,Primary,H,10.4,93.44,0,0,NaN,...,None,23.60,93.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,58,24/06/2014,Da_Tree_3,Primary,Z,10.4,93.44,0,0,NaN,...,None,24.66,80.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,59,25/06/2014,Da_Tree_3,Primary,H,4.9,93.44,0,0,NaN,...,None,24.40,98.63,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,60,25/06/2014,Da_Tree_3,Primary,H,4.9,93.44,0,0,NaN,...,None,23.98,96.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,61,26/06/2014,Da_Tree_3,Primary,Z,1.5,93.44,0,0,NaN,...,None,25.20,98.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,62,26/06/2014,Da_Tree_3,Primary,M,1.5,93.44,0,0,NaN,...,None,24.70,97.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,63,28/06/2014,Da_Tree_3,Primary,Z,0.9,93.44,0,0,NaN,...,None,25.80,99.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,64,28/06/2014,Da_Tree_3,Primary,M,0.9,93.44,0,0,NaN,...,None,25.45,68.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,65,30/06/2014,VJR_769,VJR,Z,8.0,84.26,1,0,NaN,...,None,24.70,98.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,66,30/06/2014,VJR_769,VJR,M,8.0,84.26,0,0,NaN,...,None,24.91,93.33,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66,67,01/07/2014,VJR_769,VJR,H,14.0,84.26,0,0,NaN,...,Low,24.20,98.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,68,01/07/2014,VJR_769,VJR,Z,14.0,84.26,0,0,NaN,...,Low,23.54,97.71,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,69,02/07/2014,VJR_769,VJR,Z,21.3,84.26,0,1,NaN,...,None,25.45,98.38,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69,70,02/07/2014,VJR_769,VJR,H,21.3,84.26,0,0,NaN,...,None,25.60,92.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70,71,03/07/2014,VJR_769,VJR,H,29.9,84.26,0,0,NaN,...,Medium,23.20,98.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,72,03/07/2014,VJR_769,VJR,Z,29.9,84.26,0,0,NaN,...,Medium,23.04,98.21,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,73,04/07/2014,VJR_765,VJR,H,39.3,89.11,6,0,NaN,...,None,25.51,99.00,0.0,1.0,0.0,0.0,0.0,0.0,0.0
73,74,04/07/2014,VJR_765,VJR,M,39.3,89.11,0,0,NaN,...,None,24.60,96.34,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74,75,05/07/2014,VJR_765,VJR,M,49.3,89.11,3,0,NaN,...,None,24.70,99.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0
75,76,05/07/2014,VJR_765,VJR,H,49.3,89.11,0,0,NaN,...,None,24.73,95.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76,77,06/07/2014,VJR_765,VJR,H,59.7,89.11,6,0,NaN,...,Medium,24.08,99.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0
77,78,06/07/2014,VJR_765,VJR,M,59.7,89.11,0,0,NaN,...,Medium,24.35,89.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,79,07/07/2014,VJR_765,VJR,M,70.0,89.11,2,0,NaN,...,Low,24.14,98.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,80,07/07/2014,VJR_765,VJR,H,70.0,89.11,0,0,NaN,...,Low,24.16,96.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
mozie.Location.unique()

array(['E_651', 'OG2_727', 'E_659', 'OP1_741', 'OP3_762', 'E_655', 'D_643',
       'OP2_748', 'E_647', 'D_639', 'D_635', 'OG2_728', 'OG3_733', 'D_631',
       'E_652', 'E_650', 'VJR_768', 'Da_Tree_1', 'Da_Tree_2', 'Da_Tree_3',
       'VJR_769', 'VJR_765'], dtype=object)

In [39]:
geodesic([4.962490, 117.797640], [4.769837, 117.70283]).meters

23758.271676981443

In [36]:
second_order.loc[second_order.location == "LF2_692"]

,plot_size,longitude,latitude,fractal_order,location,longlat
532,25m x 25m,4.76984,117.703,2,LF2_692,"[4.769837, 117.70283]"