In [206]:
import pandas as pd
import numpy as np
import json

from geopy.distance import geodesic

In [269]:
def census_diff(df, census):

    grp = df.groupby(["plot",  census])
    cen = grp.date.agg(['min', 'max'])
    cen["mid"] = (cen["min"] + (cen["max"] - cen["min"])/2).dt.date
    cen["difference"] = cen["mid"].diff().astype('timedelta64[D]')
    cen.loc[cen["difference"] < 0 , "difference"] = np.NAN
    cen["diff_yrs"] = cen.difference/365

    cen.reset_index(level=0, inplace=True)
    cen.reset_index(level=0, inplace=True)

    cen[census].astype(str)
    cen["step"] = cen[census].astype(str).shift() + "-" + cen[census].astype(str)
    cen.loc[cen["difference"].isnull(), "step"] = np.NaN
    cen.index = cen['plot'] + "_" + cen['step']

    return cen

In [207]:
# open plot locations
with open('../Data/rows.geojson') as f:
    data = json.load(f)

properties = pd.DataFrame()

# add each line of geojson file to dataframe
for i in range(0, len(data['features'])):
    properties = properties.append(pd.DataFrame(data['features'][i]['properties'], index = [i]))

# only really care about these columns
properties = properties.loc[: , ["plot_size",
                                 "centroid_y",
                                 "centroid_x",
                                 "fractal_order",
                                 "location"]]

properties.rename(columns={'centroid_y':'longitude', 'centroid_x':'latitude'}, inplace=True)
properties["longlat"] = properties.apply(lambda x: [x.longitude, x.latitude], axis=1)

# seperate dataframe for only second order fractal points
second_order = properties.loc[properties.fractal_order == 2, : ]

# function to find point closest to given point
def closest(pt, others):
    
    clst_pt = min(others.longlat, key = lambda x: geodesic(pt, x).meters)
        
    return others.location.loc[others.longlat.apply(lambda x: x == clst_pt)].reset_index(drop = True)


# fractal nesting and agb data
fpn = pd.read_csv("../Data/Fractal_point_nesting.csv")
agb = pd.read_csv("../Data/AGB.csv")

# specific wanted columns - and rename ***(going with Chave moist)***
agb = agb[["field_name", "Plot", "Date", "AGB_Chave_moist", "ForestQuality"]]
agb.columns = ["field_name", "plot", "date", "agb", "forestquality"]

In [208]:
E  = pd.read_csv("../Data/small_mammals/test/E_test.csv")
F  = pd.read_csv("../Data/small_mammals/test/F_test.csv")
D  = pd.read_csv("../Data/small_mammals/test/D_test.csv")
OG = pd.read_csv("../Data/small_mammals/test/OG_test.csv")

In [209]:
def sort_mams(df):

    ncolnames = ["occasion", "date", "grid", "point", "trap", "trap_id", "species"]

    df.columns  = ncolnames

    # stupid formatting sorted
    df["occasion"]  = df.occasion.str.replace("--", "-")
    df["grid"]      = df.grid.str.replace("--", "-")
    df["trap_id"]   = df.trap_id.str.replace("--", "-")
    df["trap_id"]   = df.trap_id.apply(lambda x: x[:-1])
    df["date"]      = pd.to_datetime(df.date)
    df["year"]      = df.date.dt.year
    df["census"]    = df.occasion.str[-6:]
    df["plot"]      = df.occasion.str[0]
    
    return df

In [210]:
E  = sort_mams(E)
F  = sort_mams(F)
D  = sort_mams(D)
OG = sort_mams(OG)

frames = [E, F, D, OG]

mamls_df = pd.concat(frames, sort = False)

mamls_df["species"] = mamls_df.species.fillna("None")

In [211]:
m_lkup = pd.read_csv("../Data/small_mammals/mammals_lookup.csv")
m_lkup.columns = ["code", "species", "scientific"]

mamls_df["species"] = mamls_df.species.str.strip()

# if its a questionmark - I just go with it
# if its an either or I go with the first one!
mamls_df.loc[mamls_df.loc[:, "species"] == "CTRS-but see notes", "species"] = "CTRS"

mamls_df.loc[mamls_df.loc[:, "species"] == "SS?",          "species"] = "SS"
mamls_df.loc[mamls_df.loc[:, "species"] == "WH?",          "species"] = "WH"
mamls_df.loc[mamls_df.loc[:, "species"] == "PR?",          "species"] = "PR"
mamls_df.loc[mamls_df.loc[:, "species"] == "RR?",          "species"] = "RR"
mamls_df.loc[mamls_df.loc[:, "species"] == "MR?",          "species"] = "MR"
mamls_df.loc[mamls_df.loc[:, "species"] == "MR??",         "species"] = "MR"
mamls_df.loc[mamls_df.loc[:, "species"] == "RS?",          "species"] = "RS"
mamls_df.loc[mamls_df.loc[:, "species"] == "LGTRS?",       "species"] = "LGTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "BS?",          "species"] = "BS"
mamls_df.loc[mamls_df.loc[:, "species"] == "PSQ",          "species"] = "LSQ"      # not confident on this
mamls_df.loc[mamls_df.loc[:, "species"] == "BSQ",          "species"] = "BSQ?"
mamls_df.loc[mamls_df.loc[:, "species"] == "SSQ",          "species"] = "SSQ?"
mamls_df.loc[mamls_df.loc[:, "species"] == "RS or SS" ,    "species"] = "RS"
mamls_df.loc[mamls_df.loc[:, "species"] == "WH or SS",     "species"] = "WH"
mamls_df.loc[mamls_df.loc[:, "species"] == "BS/RS?",       "species"] = "BS"
mamls_df.loc[mamls_df.loc[:, "species"] == "PTSQ?",        "species"] = "PTSQ"
mamls_df.loc[mamls_df.loc[:, "species"] == "LETRS",        "species"] = "LETRS?"   # for some reason the lookup table has a ?
mamls_df.loc[mamls_df.loc[:, "species"] == "CBS?",         "species"] = "CBS"
mamls_df.loc[mamls_df.loc[:, "species"] == "SL?TRS",       "species"] = "SLTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "SLTRS?",       "species"] = "SLTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "L?TRS",        "species"] = "SLTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "LSQ?",         "species"] = "LSQ"
mamls_df.loc[mamls_df.loc[:, "species"] == "CTRS?",        "species"] = "CTRS"
mamls_df.loc[mamls_df.loc[:, "species"] == "LTRS or CTRS", "species"] = "CTRS"     # went with CTRS as LTRS could refer to a couple
mamls_df.loc[mamls_df.loc[:, "species"] == "LTRS",         "species"] = "LETRS?"   # not convinced about this one
mamls_df.loc[mamls_df.loc[:, "species"] == "Squirrel",     "species"] = "squirrel"
mamls_df.loc[mamls_df.loc[:, "species"] == "DTT_DEAD",     "species"] = "DTT"
mamls_df.loc[mamls_df.loc[:, "species"] == "LSQ?_DEAD",    "species"] = "LSQ"



mamls_df.loc[mamls_df.loc[:, "species"] == "squirrel",     "species"] = "unknown"  # ***mmm?***
mamls_df.loc[mamls_df.loc[:, "species"] == "See notes",    "species"] = "unknown"
mamls_df.loc[mamls_df.loc[:, "species"] == "??",           "species"] = "unknown"
mamls_df.loc[mamls_df.loc[:, "species"] == "?",            "species"] = "unknown"
mamls_df.loc[mamls_df.loc[:, "species"] == "Unknown",      "species"] = "unknown"


mamls_df = pd.merge(mamls_df,
                    m_lkup[["code", "scientific"]],
                    how      = "left",
                    left_on  = "species",
                    right_on = "code")

# gtet rid of the leftovers...
mamls_df = mamls_df.loc[-mamls_df.code.isna(), :]

In [212]:
trap_locs = pd.DataFrame({"trap_id" : mamls_df.trap_id.unique()})

In [213]:
trap_locs = trap_locs.merge(properties[["location", "longlat"]],
                            how      = "left",
                            left_on  = "trap_id",
                            right_on = "location")

In [214]:
trap_locs["second_order"] = trap_locs.longlat.apply(lambda x: closest(x, second_order))

In [215]:
mamls_df = mamls_df.merge(trap_locs, how = "left", on = "trap_id")

In [216]:
mamls_df.second_order = mamls_df.second_order.str[-3:]
mamls_df.second_order = mamls_df.second_order.astype(int)

In [218]:
mamls_df = mamls_df.merge(agb[["plot", "agb", "forestquality"]], how = "left",
                          left_on = "second_order", right_on = "plot")

In [266]:
mamls_df = mamls_df.rename(index=str, columns={"plot_x": "plot"})

mamls_df = mamls_df[["occasion",
                     "date",
                     "grid",
                     "point",
                     "trap",
                     "trap_id",
                     "species",
                     "year",
                     "plot",
                     "census",
                     "scientific",
                     "longlat",
                     "second_order",
                     "agb",
                     "forestquality"]]

mamls_df.to_csv("../Results/mammals_sorted2.csv")

In [224]:
mamls_df["trap_year"]   = mamls_df.trap_id + "_" + mamls_df.year.astype(str)
mamls_df["grid_year"]   = mamls_df.grid    + "_" + mamls_df.year.astype(str)
mamls_df["trap_census"] = mamls_df.trap_id + "_" + mamls_df.census
mamls_df["grid_census"] = mamls_df.grid    + "_" + mamls_df.census

In [241]:
def make_matrix(df, what):
    mx = df.groupby([what, "species"]).size().unstack()
    mx = mamls_mx.fillna(value = 0)
    mx = mx.drop("None", axis = 1)
    return mx

mamls_TY = make_matrix(mamls_df, "trap_year")
mamls_GY = make_matrix(mamls_df, "grid_year")
mamls_TC = make_matrix(mamls_df, "trap_census")
mamls_GC = make_matrix(mamls_df, "grid_census")

mamls_TY.to_csv("../Results/m_trap-year.csv")
mamls_GY.to_csv("../Results/m_grid-year.csv")
mamls_TC.to_csv("../Results/m_trap-census.csv")
mamls_GC.to_csv("../Results/m_grid_census.csv")

In [256]:
mamls_agb = mamls_df.groupby("plot_x").agb.describe()
mamls_agb.to_csv("../Results/mamls_agb.csv")

In [ ]:
mamls_cen = census_diff(mamls_df)
mamls_cen.to_csv("../Results/mammals_census_dates.csv")

In [267]:
mamls_cn_diff = census_diff(mamls_df, "census")
mamls_yr_diff census_diff(mamls_df, "census")

,census,plot,min,max,mid,difference,diff_yrs,step
NaN,012-10,D,2012-09-06,2012-09-06,2012-09-06,NaN,NaN,NaN
D_012-10-012-12,012-12,D,2012-11-06,2012-11-06,2012-11-06,61.0,0.167123,012-10-012-12
NaN,012-14,D,2012-06-13,2012-06-13,2012-06-13,NaN,NaN,NaN
NaN,2011-1,D,2011-08-20,2011-12-09,2011-10-14,NaN,NaN,NaN
NaN,2011-2,D,2011-08-21,2011-09-13,2011-09-01,NaN,NaN,NaN
D_2011-2-2011-3,2011-3,D,2011-08-22,2011-09-14,2011-09-02,1.0,0.002740,2011-2-2011-3
D_2011-3-2011-4,2011-4,D,2011-08-23,2011-09-15,2011-09-03,1.0,0.002740,2011-3-2011-4
D_2011-4-2011-5,2011-5,D,2011-08-24,2011-09-16,2011-09-04,1.0,0.002740,2011-4-2011-5
NaN,2011-6,D,2011-08-25,2011-08-25,2011-08-25,NaN,NaN,NaN
D_2011-6-2011-7,2011-7,D,2011-08-26,2011-08-26,2011-08-26,1.0,0.002740,2011-6-2011-7
D_2011-7-2012-1,2012-1,D,2012-01-30,2012-08-02,2012-05-01,249.0,0.682192,2011-7-2012-1
D_2012-1-2012-2,2012-2,D,2012-01-06,2012-09-02,2012-05-05,4.0,0.010959,2012-1-2012-2
D_2012-2-2012-3,2012-3,D,2012-01-02,2012-10-02,2012-05-18,13.0,0.035616,2012-2-2012-3
D_2012-3-2012-4,2012-4,D,2012-02-02,2012-11-02,2012-06-18,31.0,0.084932,2012-3-2012-4
D_2012-4-2012-5,2012-5,D,2012-02-29,2012-12-02,2012-07-16,28.0,0.076712,2012-4-2012-5
NaN,2012-6,D,2012-01-03,2012-11-03,2012-06-03,NaN,NaN,NaN
D_2012-6-2012-7,2012-7,D,2012-02-03,2012-12-03,2012-07-04,31.0,0.084932,2012-6-2012-7
D_2012-7-2012-8,2012-8,D,2012-07-06,2012-07-06,2012-07-06,2.0,0.005479,2012-7-2012-8
D_2012-8-2012-9,2012-9,D,2012-08-06,2012-08-06,2012-08-06,31.0,0.084932,2012-8-2012-9
D_2012-9-2014-1,2014-1,D,2014-06-02,2014-07-19,2014-06-25,688.0,1.884932,2012-9-2014-1
D_2014-1-2014-2,2014-2,D,2014-07-02,2014-07-20,2014-07-11,16.0,0.043836,2014-1-2014-2
D_2014-2-2014-3,2014-3,D,2014-07-21,2014-08-02,2014-07-27,16.0,0.043836,2014-2-2014-3
D_2014-3-2014-4,2014-4,D,2014-07-22,2014-09-02,2014-08-12,16.0,0.043836,2014-3-2014-4
D_2014-4-2014-5,2014-5,D,2014-07-23,2014-10-02,2014-08-27,15.0,0.041096,2014-4-2014-5
D_2014-5-2014-6,2014-6,D,2014-07-24,2014-11-02,2014-09-12,16.0,0.043836,2014-5-2014-6
D_2014-6-2014-7,2014-7,D,2014-07-25,2014-12-02,2014-09-28,16.0,0.043836,2014-6-2014-7
D_2014-7-2015-1,2015-1,D,2015-05-19,2015-05-27,2015-05-23,237.0,0.649315,2014-7-2015-1
D_2015-1-2015-2,2015-2,D,2015-05-20,2015-05-28,2015-05-24,1.0,0.002740,2015-1-2015-2
D_2015-2-2015-3,2015-3,D,2015-05-21,2015-05-29,2015-05-25,1.0,0.002740,2015-2-2015-3
D_2015-3-2015-4,2015-4,D,2015-05-22,2015-05-30,2015-05-26,1.0,0.002740,2015-3-2015-4
...,...,...,...,...,...,...,...,...
O_2011-5-2011-6,2011-6,O,2011-06-14,2011-06-14,2011-06-14,1.0,0.002740,2011-5-2011-6
O_2011-6-2011-7,2011-7,O,2011-06-15,2011-06-15,2011-06-15,1.0,0.002740,2011-6-2011-7
O_2011-7-2013-1,2013-1,O,2013-09-15,2013-09-25,2013-09-20,828.0,2.268493,2011-7-2013-1
O_2013-1-2013-2,2013-2,O,2013-09-16,2013-09-26,2013-09-21,1.0,0.002740,2013-1-2013-2
O_2013-2-2013-3,2013-3,O,2013-09-17,2013-09-27,2013-09-22,1.0,0.002740,2013-2-2013-3
O_2013-3-2013-4,2013-4,O,2013-09-18,2013-09-28,2013-09-23,1.0,0.002740,2013-3-2013-4
O_2013-4-2013-5,2013-5,O,2013-09-19,2013-09-29,2013-09-24,1.0,0.002740,2013-4-2013-5
O_2013-5-2013-6,2013-6,O,2013-09-20,2013-09-30,2013-09-25,1.0,0.002740,2013-5-2013-6
NaN,2013-7,O,2013-01-10,2013-09-21,2013-05-17,NaN,NaN,NaN
O_2013-7-2014-1,2014-1,O,2014-06-15,2014-06-22,2014-06-18,397.0,1.087671,2013-7-2014-1
O_2014-1-2014-2,2014-2,O,2014-06-16,2014-06-23,2014-06-19,1.0,0.002740,2014-1-2014-2
O_2014-2-2014-3,2014-3,O,2014-06-17,2014-06-24,2014-06-20,1.0,0.002740,2014-2-2014-3
O_2014-3-2014-4,2014-4,O,2014-06-18,2014-06-25,2014-06-21,1.0,0.002740,2014-3-2014-4
O_2014-4-2014-5,2014-5,O,2014-06-19,2014-06-26,2014-06-22,1.0,0.002740,2014-4-2014-5
O_2014-5-2014-6,2014-6,O,2014-06-20,2014-06-27,2014-06-23,1.0,0.002740,2014-5-2014-6
O_2014-6-2014-7,2014-7,O,2014-06-21,2014-06-28,2014-06-24,1.0,0.002740,2014-6-2014-7
O_2014-7-2015-1,2015-1,O,2015-04-30,2015-08-05,2015-06-17,358.0,0.980822,2014-7-2015-1
NaN,2015-2,O,2015-01-05,2015-09-05,2015-05-06,NaN,NaN,NaN
O_2015-2-2015-3,2015-3,O,2015-02-05,2015-10-05,2015-06-06,31.0,0.084932,2015-2-2015-3
O_2015-3-2015-4,2015-4,O,2015-03-05,2015-11-05,2015-07-05,29.0,0.079452,2015-3-2015-4
O_2015-4-2015-5,2015-5,O,2015-04-05,2015-12-05,2015-08-05,31.0,0.084932,2015-4-2015-5
NaN,2015-6,O,2015-05-05,2015-05-13,2015-05-09,NaN,NaN,NaN
O_2015-6-2015-7,2015-7,O,2015-05-14,2015-06-05,2015-05-25,16.0,0.043836,2015-6-2015-7
O_2015-7-2016-1,2016-1,O,2016-03-25,2016-05-04,2016-04-14,325.0,0.890411,2015-7-2016-1
O_2016-1-2016-2,2016-2,O,2016-03-26,2016-06-04,2016-04-30,16.0,0.043836,2016-1-2016-2
O_2016-2-2016-3,2016-3,O,2016-03-27,2016-07-04,2016-05-15,15.0,0.041096,2016-2-2016-3
O_2016-3-2016-4,2016-4,O,2016-03-28,2016-08-04,2016-05-31,16.0,0.043836,2016-3-2016-4
O_2016-4-2016-5,2016-5,O,2016-03-29,2016-09-04,2016-06-16,16.0,0.043836,2016-4-2016-5
O_2016-5-2016-6,2016-6,O,2016-03-30,2016-10-04,2016-07-02,16.0,0.043836,2016-5-2016-6
O_2016-6-2016-7,2016-7,O,2016-03-31,2016-11-04,2016-07-18,16.0,0.043836,2016-6-2016-7

In [271]:
census_diff(mamls_df, "census")

,census,plot,min,max,mid,difference,diff_yrs,step
NaN,012-10,D,2012-09-06,2012-09-06,2012-09-06,NaN,NaN,NaN
D_012-10-012-12,012-12,D,2012-11-06,2012-11-06,2012-11-06,61.0,0.167123,012-10-012-12
NaN,012-14,D,2012-06-13,2012-06-13,2012-06-13,NaN,NaN,NaN
NaN,2011-1,D,2011-08-20,2011-12-09,2011-10-14,NaN,NaN,NaN
NaN,2011-2,D,2011-08-21,2011-09-13,2011-09-01,NaN,NaN,NaN
D_2011-2-2011-3,2011-3,D,2011-08-22,2011-09-14,2011-09-02,1.0,0.002740,2011-2-2011-3
D_2011-3-2011-4,2011-4,D,2011-08-23,2011-09-15,2011-09-03,1.0,0.002740,2011-3-2011-4
D_2011-4-2011-5,2011-5,D,2011-08-24,2011-09-16,2011-09-04,1.0,0.002740,2011-4-2011-5
NaN,2011-6,D,2011-08-25,2011-08-25,2011-08-25,NaN,NaN,NaN
D_2011-6-2011-7,2011-7,D,2011-08-26,2011-08-26,2011-08-26,1.0,0.002740,2011-6-2011-7
D_2011-7-2012-1,2012-1,D,2012-01-30,2012-08-02,2012-05-01,249.0,0.682192,2011-7-2012-1
D_2012-1-2012-2,2012-2,D,2012-01-06,2012-09-02,2012-05-05,4.0,0.010959,2012-1-2012-2
D_2012-2-2012-3,2012-3,D,2012-01-02,2012-10-02,2012-05-18,13.0,0.035616,2012-2-2012-3
D_2012-3-2012-4,2012-4,D,2012-02-02,2012-11-02,2012-06-18,31.0,0.084932,2012-3-2012-4
D_2012-4-2012-5,2012-5,D,2012-02-29,2012-12-02,2012-07-16,28.0,0.076712,2012-4-2012-5
NaN,2012-6,D,2012-01-03,2012-11-03,2012-06-03,NaN,NaN,NaN
D_2012-6-2012-7,2012-7,D,2012-02-03,2012-12-03,2012-07-04,31.0,0.084932,2012-6-2012-7
D_2012-7-2012-8,2012-8,D,2012-07-06,2012-07-06,2012-07-06,2.0,0.005479,2012-7-2012-8
D_2012-8-2012-9,2012-9,D,2012-08-06,2012-08-06,2012-08-06,31.0,0.084932,2012-8-2012-9
D_2012-9-2014-1,2014-1,D,2014-06-02,2014-07-19,2014-06-25,688.0,1.884932,2012-9-2014-1
D_2014-1-2014-2,2014-2,D,2014-07-02,2014-07-20,2014-07-11,16.0,0.043836,2014-1-2014-2
D_2014-2-2014-3,2014-3,D,2014-07-21,2014-08-02,2014-07-27,16.0,0.043836,2014-2-2014-3
D_2014-3-2014-4,2014-4,D,2014-07-22,2014-09-02,2014-08-12,16.0,0.043836,2014-3-2014-4
D_2014-4-2014-5,2014-5,D,2014-07-23,2014-10-02,2014-08-27,15.0,0.041096,2014-4-2014-5
D_2014-5-2014-6,2014-6,D,2014-07-24,2014-11-02,2014-09-12,16.0,0.043836,2014-5-2014-6
D_2014-6-2014-7,2014-7,D,2014-07-25,2014-12-02,2014-09-28,16.0,0.043836,2014-6-2014-7
D_2014-7-2015-1,2015-1,D,2015-05-19,2015-05-27,2015-05-23,237.0,0.649315,2014-7-2015-1
D_2015-1-2015-2,2015-2,D,2015-05-20,2015-05-28,2015-05-24,1.0,0.002740,2015-1-2015-2
D_2015-2-2015-3,2015-3,D,2015-05-21,2015-05-29,2015-05-25,1.0,0.002740,2015-2-2015-3
D_2015-3-2015-4,2015-4,D,2015-05-22,2015-05-30,2015-05-26,1.0,0.002740,2015-3-2015-4
...,...,...,...,...,...,...,...,...
O_2011-5-2011-6,2011-6,O,2011-06-14,2011-06-14,2011-06-14,1.0,0.002740,2011-5-2011-6
O_2011-6-2011-7,2011-7,O,2011-06-15,2011-06-15,2011-06-15,1.0,0.002740,2011-6-2011-7
O_2011-7-2013-1,2013-1,O,2013-09-15,2013-09-25,2013-09-20,828.0,2.268493,2011-7-2013-1
O_2013-1-2013-2,2013-2,O,2013-09-16,2013-09-26,2013-09-21,1.0,0.002740,2013-1-2013-2
O_2013-2-2013-3,2013-3,O,2013-09-17,2013-09-27,2013-09-22,1.0,0.002740,2013-2-2013-3
O_2013-3-2013-4,2013-4,O,2013-09-18,2013-09-28,2013-09-23,1.0,0.002740,2013-3-2013-4
O_2013-4-2013-5,2013-5,O,2013-09-19,2013-09-29,2013-09-24,1.0,0.002740,2013-4-2013-5
O_2013-5-2013-6,2013-6,O,2013-09-20,2013-09-30,2013-09-25,1.0,0.002740,2013-5-2013-6
NaN,2013-7,O,2013-01-10,2013-09-21,2013-05-17,NaN,NaN,NaN
O_2013-7-2014-1,2014-1,O,2014-06-15,2014-06-22,2014-06-18,397.0,1.087671,2013-7-2014-1
O_2014-1-2014-2,2014-2,O,2014-06-16,2014-06-23,2014-06-19,1.0,0.002740,2014-1-2014-2
O_2014-2-2014-3,2014-3,O,2014-06-17,2014-06-24,2014-06-20,1.0,0.002740,2014-2-2014-3
O_2014-3-2014-4,2014-4,O,2014-06-18,2014-06-25,2014-06-21,1.0,0.002740,2014-3-2014-4
O_2014-4-2014-5,2014-5,O,2014-06-19,2014-06-26,2014-06-22,1.0,0.002740,2014-4-2014-5
O_2014-5-2014-6,2014-6,O,2014-06-20,2014-06-27,2014-06-23,1.0,0.002740,2014-5-2014-6
O_2014-6-2014-7,2014-7,O,2014-06-21,2014-06-28,2014-06-24,1.0,0.002740,2014-6-2014-7
O_2014-7-2015-1,2015-1,O,2015-04-30,2015-08-05,2015-06-17,358.0,0.980822,2014-7-2015-1
NaN,2015-2,O,2015-01-05,2015-09-05,2015-05-06,NaN,NaN,NaN
O_2015-2-2015-3,2015-3,O,2015-02-05,2015-10-05,2015-06-06,31.0,0.084932,2015-2-2015-3
O_2015-3-2015-4,2015-4,O,2015-03-05,2015-11-05,2015-07-05,29.0,0.079452,2015-3-2015-4
O_2015-4-2015-5,2015-5,O,2015-04-05,2015-12-05,2015-08-05,31.0,0.084932,2015-4-2015-5
NaN,2015-6,O,2015-05-05,2015-05-13,2015-05-09,NaN,NaN,NaN
O_2015-6-2015-7,2015-7,O,2015-05-14,2015-06-05,2015-05-25,16.0,0.043836,2015-6-2015-7
O_2015-7-2016-1,2016-1,O,2016-03-25,2016-05-04,2016-04-14,325.0,0.890411,2015-7-2016-1
O_2016-1-2016-2,2016-2,O,2016-03-26,2016-06-04,2016-04-30,16.0,0.043836,2016-1-2016-2
O_2016-2-2016-3,2016-3,O,2016-03-27,2016-07-04,2016-05-15,15.0,0.041096,2016-2-2016-3
O_2016-3-2016-4,2016-4,O,2016-03-28,2016-08-04,2016-05-31,16.0,0.043836,2016-3-2016-4
O_2016-4-2016-5,2016-5,O,2016-03-29,2016-09-04,2016-06-16,16.0,0.043836,2016-4-2016-5
O_2016-5-2016-6,2016-6,O,2016-03-30,2016-10-04,2016-07-02,16.0,0.043836,2016-5-2016-6
O_2016-6-2016-7,2016-7,O,2016-03-31,2016-11-04,2016-07-18,16.0,0.043836,2016-6-2016-7